body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

#main {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 10px;
}

.brandname {
  font-size: 28px;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] ,
input[type="text"]{
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #37B868;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.response {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: red;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

a {
  color: #37B868;
  text-decoration: none;
  font-weight: bold;
}

.log-in-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sso-icons {
  display: flex;
}

.sso-icons a {
  margin-right: 10px;
}

.sso-icons img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.sso-icons img:hover{
  transform: translateY(-5px);
}
